*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style-type: none;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 34px 100px;
    align-items: center;
}

.header_control{
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    gap: 30px;
}

li a{
    color: #121212;
}

li a:hover{
    color: #A27B5C;
    transition: all 0.3s;
}

.header_control{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header_button{
    display: flex;
    gap: 20px;
}

.header_button button{
    padding: 14px 27px;
    border: none;
    background-color: #A27B5C;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.header_button .button1{
    padding: 14px 27px;
    border: 1px solid #A27B5C;
    background-color: #ffffff;
    color: #A27B5C;
    border-radius: 5px;
    cursor: pointer;
}


.ournews{
    padding: 70px 124px 70px 124px;
    background-color: #FCF7EF;
}

.wrapper h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 96px;
    font-weight: 500;
    line-height: 120px;
}

.wrapper h4{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #3f3f3f;
    margin-top: 10px;
}

.wrapper img{
    width: 1150px;
    height: 405px;
    margin-top: 30px;
}

.wrapper h2{
    font-size: 30px;
    line-height: 42px;
    font-weight: 400;
    margin-top: 10px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.wrapper p{
    margin-top: 10px;
    color: #717171;
    font-size: 16px;
    font-weight: 400;
}